.jcroppy img {
    max-width: 1280px;
    max-height: 960px;
}


::-webkit-file-upload-button {
    width:199px; height:41px; background:url('../assets/images/btn_choose_img.png'); border:none;
}
::-moz-file-upload-button {
    width:199px; height:41px; background:url('../assets/images/btn_choose_img.png'); border:none;
}

body {font-family:'DINRoundProBold', Arial, Helvetica, sans-serif; color:#000; background:#761418 url('../assets/images/bg.png') repeat-x;}
#image-list { visibility:hidden; }
.hidden_input { visibility:hidden; }
canvas { }

/* layout */
.logo { width:170px; height:54px; background:url('../assets/images/gnc_logo.png') no-repeat; margin:0 auto 30px auto; }
.container { width:100%; position:absolute; right:-9999px; display:none; }
.container.intro { right:0px; display:block; }
.box { width:670px; height:660px; margin:0 auto; } /* the gray box */

.nav_icons {  list-style:none; position:absolute; right:0px; top:16px;  }
.nav_icons li { display:inline; margin:0 50px 0 0;}

.next_prev_container { width:536px; position:absolute; top:545px; left:55px; text-align: center; }
.next_prev_container .previous { position:absolute; left:0; }
.next_prev_container .next { position:absolute; right:0; }


#lblColorImage { margin:12px 0 0 0; }

#canvasThumbResult { position:absolute; left:130px; top:120px; border:4px solid #000; }

.jcroppy { position:absolute; top:120px; left:135px;  }

.color_tools_container { position:absolute; z-index:100; top:445px; left:200px; }
#colorTools { list-style-type:none;  }
#colorTools li { float:left; }

/* other styles */
.box { background:url('../assets/images/bg_edit_container.png') no-repeat; position:relative; }
.box.intro { background:url('../assets/images/bg_intro_container.png') no-repeat; }

/* buttons */
.previous { width:86px; height:41px; background:url('../assets/images/btn_previous.png'); border:none; }
.next { width:86px; height:41px; background:url('../assets/images/btn_next.png');  border:none; }
#btnStart { width:199px; height:41px; background:url('../assets/images/btn_start.png'); border:none; position:absolute; top:516px; left:232px;}
.btnUpload { width:199px; height:41px; background:url('../assets/images/btn_choose_img.png'); border:none; position:absolute; top:333px; left:222px; }
.btn_enter_txt { width:136px; height:41px; background:url('../assets/images/btn_enter_txt.png'); border:none; }

/* labels */
.lbl_upload { width:260px; height:49px; background:url('../assets/images/lbl_add_photo.png') no-repeat; position:absolute; top:250px; left:195px; }

























