  @font-face {
    font-family: 'DINRoundProRegular';
    src: url('../assets/fonts/dinroundpro-webfont.eot');
    src: local('Ã¢ËœÂº'),
         url('../assets/fonts/dinroundpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/dinroundpro-webfont.woff') format('woff'),
         url('../assets/fonts/dinroundpro-webfont.ttf') format('truetype'),
         url('../assets/fonts/dinroundpro-webfont.svg#DINRoundProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundProBold';
    src: url('../assets/fonts/dinroundpro-bold-webfont.eot');
    src: local('Ã¢ËœÂº'),
         url('../assets/fonts/dinroundpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/dinroundpro-bold-webfont.woff') format('woff'),
         url('../assets/fonts/dinroundpro-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/dinroundpro-bold-webfont.svg#DINRoundProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundProMedium';
    src: url('../assets/fonts/dinroundpro-medium-webfont.eot');
    src: local('Ã¢ËœÂº'),
         url('../assets/fonts/dinroundpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/dinroundpro-medium-webfont.woff') format('woff'),
         url('../assets/fonts/dinroundpro-medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/dinroundpro-medium-webfont.svg#DINRoundProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-webkit-file-upload-button {
    width:199px; height:41px; background:url('../assets/images/btn_choose_img.png'); border:none;
}

body {font-family:'DINRoundProBold', Arial, Helvetica, sans-serif; color:#000; background:#761418 url('../assets/images/bg.png') repeat-x;}

canvas { }

/* layout */
.logo { width:170px; height:54px; background:url('../assets/images/gnc_logo.png') no-repeat; margin:0 auto 30px auto; }
.container { width:100%; position:absolute; right:-9999px; display:none; }
.container.intro { right:0px; display:block; }
.box { width:670px; height:660px; margin:0 auto; } /* the gray box */

.nav_icons { list-style:none; position:absolute; right:0px; top:16px; }
.nav_icons li { display:inline; margin:0 50px 0 0;}

/* other styles */
.box { background:url('../assets/images/bg_edit_container.png') no-repeat; position:relative; }
.box.intro { background:url('../assets/images/bg_intro_container.png') no-repeat; }

/* buttons */
.previous { width:86px; height:41px; background:url('../assets/images/btn_previous.png'); border:none; }
.next { width:86px; height:41px; background:url('../assets/images/btn_next.png');  border:none; }
#btnStart { width:199px; height:41px; background:url('../assets/images/btn_start.png'); border:none; position:absolute; top:516px; left:232px;}
.btnUpload { width:199px; height:41px; background:url('../assets/images/btn_choose_img.png'); border:none; position:absolute; top:333px; left:222px; }

/* labels */
.lbl_upload { width:260px; height:49px; background:url('../assets/images/lbl_add_photo.png') no-repeat; position:absolute; top:250px; left:195px; }

























